<launch>
	<param name="robot_description" textfile="$(find robot_description)/urdf/robot_with_laser.urdf" />

	<!-- 运行joint_state_publisher_gui节点，发布机器人的关节状态  -->
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	
	<!-- 运行robot_state_publisher节点，发布tf,将机器人的连杆关节之间的关系，通过TF的形式，整理成三维姿态发布出去  -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
</launch>

